<!DOCTYPE html>
<html>
<head>
	<title>Movies</title>
	<link rel="icon" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/css/all.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<style>
		.play-list{
			/*flex: 1;*/
			margin-top: 20px;
		}
		.img{
			width: 300px;
		}
		img{
			width: 100%;
		}
		.card{
			display: flex;
			margin-left: 40px;
			flex-direction: row;
			justify-content: flex-start;
		}
		.title{
			text-overflow: ellipsis;
			overflow: hidden; 
			width: calc(100%-235px); 
			height: 1.2em; 
			white-space: nowrap;
			margin-left: 10px;
		}
		.all{
			margin-left: 10px;
			font-size: 14px;
		}
	</style>
	<script>
		window.console = window.console || function(t) {};
		if (document.location.search.match(/type=embed/gi)) { window.parent.postMessage("resize", "*"); }
	</script>

	<script src="js/menu.js"></script>
	<script src="js/index.js"></script>
</head>
<body>
	<div class="wrapper">
		<%- include('menu.ejs') %>
		<script src="js/search.min.js"></script>
		<div class="main-content">
			<h4>Search Result</h4>
			<div class="content">
				<script>
					$('#search').attr('value','<%= q %>');
				</script>
				<div class="play-list"></div>
			</div>
			<br>
			<div class="navigator"></div>
			<br>
			<script type="text/javascript" src="/Pagination/jquery.simplePagination.js"></script>
			<link type="text/css" rel="stylesheet" href="/Pagination/simplePagination.css"/>
		</div>
	</div>
	<script type="text/javascript">
		function getAjaxData(offset)
		{
			var ret;
			$.ajax({
				url : "/search?q="+$('#search').val()+"&content=main&offset="+offset,
				type : "GET",
				dataType:'json',
				success : function(response) {
					for(var i=0;i<response.length;i++){
						document.getElementsByClassName('play-list')[0].innerHTML+='<a href="/watch?v='+response[i].embeded+' class="nav"><div class="card"><div class="img"><img src="https://img.putlocker.how/'+response[i].img+'"></div><div class="details"><h2 class="title">'+response[i].title+'</h2><p class="all"> Rating :'+response[i].rating+'</p><p class="all"> Year :'+response[i].year+'</p><p class="all"> Genre :'+response[i].genre+'</p></div></div></a>';
					}
					if(offset==0 && response.length==0)
						document.getElementsByClassName('main-content')[0].innerHTML='<p style="margin:auto">No #Result</p>';

					}
				});
		}
	</script>
	<script type="text/javascript">
		var offset = 0;
		getAjaxData(0)
		$(window).scroll(function() {
			if($(window).scrollTop() >= $(document).height() - $(window).height()) {
				offset+=16;
				getAjaxData(offset);
			}
		});
	</script>

</body>
</html>